[Desktop Entry]
Categories=Music
Comment=Music Assistant Companion App
Exec=music-assistant-companion
Icon=musicassistant
Name=Music Assistant
Terminal=false
Type=Application