[Desktop Entry]
Categories=Music
Comment=Music Assistant Desktop App
Exec=musicassistantdesktop
Icon=musicassistant
Name=Music Assistant
Terminal=false
Type=Application