[Desktop Entry]
Categories=Music
Comment=Music Assistant Desktop App
Exec=music-assistant-desktop
Icon=musicassistant
Name=Music Assistant
Terminal=false
Type=Application